.kbabMenu {
    position: relative; 
    display: inline-block;
    left: 50%; 

    &__btn {
        cursor: pointer;
        margin: 5px; 
        border: none; 
        background-color: $white;
    }

    &__icon {
        &:hover, 
        &:active, 
        &:focus {
            filter: contrast(0%)
        }
    }

    &__actions {
        position: absolute; 
        right: 0; 
        width: 161px; 
        height: 44px; 
        border: 1px solid $mercury; 
        border-radius: 4px; 
        box-shadow: $silver;
        background-color: $white;
        padding: 5px; 

        display: flex;
        justify-content: center;
        align-content: center;
    }

    &__action {
        text-align: left;
        width: inherit; 
        border: none; 
        background-color: $white;
        border-radius: 4px; 

        &:hover, 
        &:focus {
            background-color: $mercury;
        }
    }
}