.product__header {
  margin: 0 5%;
  font-family: AvenirBold;

  &__title__wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  &__icon {
    padding-right: 24px;
  }
  &__title {
    font-size: 24px;
  }
  &__button {
    display: none;
    background: $instock-green;
    color: $white;
    border: none;
    border-radius: 4px;
    height: 32px;
    width: 88px;
    &-oos {
      //display:none;
      background: $mercury;
      color: black;
      border: none;
      border-radius: 4px;
      height: 32px;
      width: 88px;
    }
  }
}

@include medium {
  .product__header {
    margin: 0 3.13%;

    &__wrapper {
      display: flex;
      align-items: center;
      border-bottom: 1px solid $mercury;
    }
    &__title {
      padding-right: 24px;
      font-size: 36px;
    }
    &__button {
      height: 24px;
    }
  }
}

@include large {
  .product__header {
    margin: 0 12.5%;
  }
}
