$black: #323232; 
$black-50opacity: #32323250; 
$silver: #afafaf; 
$mercury: #e1e1e1; 
$alabaster: #fafafa; 
$white: #fff; 
$instock-blue: #004892; 
$instock-drkblue: #002f5f; 
$instock-green: #5fb709; 