@font-face {
    font-family: 'AvenirReg'; 
    src: url('../assets/Global-Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Regular.otf'); 
}

@font-face {
    font-family: 'AvenirDemiBold'; 
    src: url('../assets/Global-Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Demi.otf'); 
}

@font-face {
    font-family: 'AvenirBold'; 
    src: url('../assets/Global-Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Bold.otf'); 
}
