.inventory {
  margin: 0 5%;
  &__heading {
    color: $black;
  }
  &__item {
    border-bottom: 1px solid grey;
  }
  &__name {
    font-weight: bold;
  }
}

@include medium {
  .inventory {
    margin: 0 5%;
    &__heading {
      color: $black;
    }

    &__item {
      display: flex;
      justify-content: space-between;
      width: 90%;
    }
    &__name {
      font-weight: bold;
    }
  }
}
