.inventory {
  margin: 0 5%;
  &__heading {
    color: $black;
  }
  &__item {
    border-bottom: 1px solid grey;
  }
  &__name {
    font-weight: bold;
  }
}

@include medium {
  .inventory {
    margin: 0 5%;
    &__heading {
      color: $black;
    }

    &__item {
      display: flex;
      justify-content: space-between;
    }
    &__name {
      font-weight: bold;
    }
    &__group {
      width: 20%;
    }
    &__quantity {
      padding-left: 30%;
    }
    &__location {
      margin-left: 9%;
    }
    &__status {
      padding-left: 29%;
    }
    &__description {
      padding-right: 13%;
    }
  }
}
