.locations {
  margin: 0 5%;
  &__heading {
    color: $black;
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  &__name {
    font-weight: bold;
  }
}

@include medium {
  .locations {
    margin: 0 5%;
    &__heading {
      color: $black;
    }

    &__item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
    &__name {
      font-weight: bold;
    }
    &__info {
      &-div {
        width: 20%;
      }
    }
  }
}
@include large {
  .locations {
    &__heading {
    }

    &__item {
    }
  }
}
