.table__header {
  display: none;
  &-headings-map {
    color: $black;
    opacity: 0.4;
  }
}

@include medium {
  .table__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-headings {
      color: $black;
      opacity: 0.4;
      width: 20%;

      &-map {
        display: none;
      }
    }
  }
  #table__move {
    margin-left: 1%;
  }
}
