html,
body {
  margin: 0;
  font-family: AvenirReg, sans-serif;
  color: #323232;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Enforces border-box for whole site */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Imports */
/* Media Query: Tablet */
/* Media Query: Desktop */
@font-face {
  font-family: 'AvenirReg';
  src: url("../assets/Global-Fonts/AvenirNextProLT/Linotype-AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: 'AvenirDemiBold';
  src: url("../assets/Global-Fonts/AvenirNextProLT/Linotype-AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: 'AvenirBold';
  src: url("../assets/Global-Fonts/AvenirNextProLT/Linotype-AvenirNextLTPro-Bold.otf");
}

.header {
  height: 80px;
  background-color: #323232;
  text-align: center;
}

.header__logo {
  margin: 16px auto;
}

.header__nav-menu {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  list-style: none;
  color: #afafaf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header__nav-item {
  width: 50vw;
}

.header__nav-link {
  text-decoration: none;
  color: #afafaf;
  padding-bottom: 3px;
  border-bottom: 3px solid #323232;
}

.header__nav-link:hover {
  color: #fff;
  border-bottom: 3px solid #fff;
}

@media only screen and (min-width: 768px) {
  .header__wrapper {
    margin: 0 3.13%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__logo {
    margin: 16px auto;
    padding-bottom: 6px;
  }
  .header__nav {
    width: 50%;
    margin: 0;
    padding: 0;
  }
  .header__nav-menu {
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .header__nav-link {
    padding-top: 28px;
    padding-bottom: 30px;
    margin-left: 7.29%;
  }
  .header__nav-item {
    width: 80px;
  }
}

@media only screen and (min-width: 1440px) {
  .header__wrapper {
    margin: 0 12.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.inventory {
  margin: 0 5%;
}

.inventory__heading {
  color: #323232;
}

.inventory__item {
  border-bottom: 1px solid grey;
}

.inventory__name {
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .inventory {
    margin: 0 5%;
  }
  .inventory__heading {
    color: #323232;
  }
  .inventory__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 90%;
  }
  .inventory__name {
    font-weight: bold;
  }
}

.table__header {
  display: none;
}

.table__header-headings-map {
  color: #323232;
  opacity: 0.4;
}

@media only screen and (min-width: 768px) {
  .table__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 90%;
  }
  .table__header-headings {
    color: #323232;
    opacity: 0.4;
  }
  .table__header-headings-map {
    display: none;
  }
}

.kbabMenu {
  position: relative;
  display: inline-block;
  left: 50%;
}

.kbabMenu__btn {
  cursor: pointer;
  margin: 5px;
  border: none;
  background-color: #fff;
}

.kbabMenu__icon:hover, .kbabMenu__icon:active, .kbabMenu__icon:focus {
  -webkit-filter: contrast(0%);
          filter: contrast(0%);
}

.kbabMenu__actions {
  position: absolute;
  right: 0;
  width: 161px;
  height: 44px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  -webkit-box-shadow: #afafaf;
          box-shadow: #afafaf;
  background-color: #fff;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.kbabMenu__action {
  text-align: left;
  width: inherit;
  border: none;
  background-color: #fff;
  border-radius: 4px;
}

.kbabMenu__action:hover, .kbabMenu__action:focus {
  background-color: #e1e1e1;
}

.create {
  margin: 0;
  width: 80px;
  height: 80px;
  position: fixed;
  bottom: 56px;
  right: 24px;
}

.create__button {
  border: none;
  background: #004892;
  border-radius: 32px;
  height: 60px;
  width: 60px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 56px;
  right: 24px;
  margin-right: 12.5%;
}

.create__button:hover {
  background: #002f5f;
}

.create__button__icon {
  width: 20px;
  height: 20px;
}

@media only screen and (min-width: 768px) {
  .create {
    margin: 0;
    bottom: 56px;
    right: 48px;
  }
  .create__button {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    bottom: 56px;
    right: 48px;
  }
  .create__button__icon {
    width: 24px;
    height: 24px;
  }
}

@media only screen and (min-width: 1440px) {
  .className {
    margin: 0;
  }
}

.product__header {
  margin: 0 5%;
  font-family: AvenirBold;
}

.product__header__title__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.product__header__icon {
  padding-right: 24px;
}

.product__header__title {
  font-size: 24px;
}

.product__header__button {
  background: #5fb709;
  color: #fff;
  border: none;
  border-radius: 4px;
  height: 32px;
  width: 88px;
}

@media only screen and (min-width: 768px) {
  .product__header {
    margin: 0 3.13%;
  }
  .product__header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #e1e1e1;
  }
  .product__header__title {
    padding-right: 24px;
    font-size: 36px;
  }
  .product__header__button {
    height: 24px;
  }
}

@media only screen and (min-width: 1440px) {
  .product__header {
    margin: 0 12.5%;
  }
}

.className {
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .className {
    margin: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .className {
    margin: 0;
  }
}

.locations {
  margin: 0 5%;
}

.locations__heading {
  color: #323232;
}

.locations__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}

.locations__name {
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .locations {
    margin: 0 5%;
  }
  .locations__heading {
    color: #323232;
  }
  .locations__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .locations__name {
    font-weight: bold;
  }
}
/*# sourceMappingURL=main.css.map */