@charset 'utf-8';

html,
body {
  margin: 0;
  font-family: AvenirReg, sans-serif;
  color: #323232;
  height: 100vh;
  box-sizing: border-box;

  a {
    text-decoration: none;
    color: #323232; 
  }
}

/* Enforces border-box for whole site */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Imports */

@import "./partials/breakpoints";
@import "./partials/colours";
@import "./partials/fonts";
@import "./partials/header";
@import "./partials/inventory";
@import "./partials/tableHeader";
@import "./partials/inventory/kbabMenu";
@import "./partials/inventory/createButton";
@import "./partials/inventory/productHeader";
@import "./partials/inventory/productSummary";
@import "./partials/locations";
